@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

html {
    background: #fff;
}

:root {
    --p-1: 4px;
    --p-2: 8px;
    --p-3: 12px;
    --p-4: 16px;
    --p-5: 20px;
    --p-6: 24px;
    --p-7: 28px;
    --p-8: 32px;
    --p-9: 36px;

    --p-s: var(--p-4);
    --p-d: var(--p-5);
    --p-l: var(--p-7);

    @themevalues light;
}

@media screen and (max-width: 480px) {
    :root {
        --p-s: var(--p-2);
        --p-d: var(--p-3);
        --p-l: var(--p-4);
    }
}

@media screen and (max-width: 1200px) and (min-width: 481px) {
    :root {
        --p-s: var(--p-3);
        --p-d: var(--p-4);
        --p-l: var(--p-6);
    }
}

.test {
    color: red;
}
